nodered/flows.json
[{"id":"ae350289.d7ed","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"436bad68.a0c014","type":"mqtt in","z":"ae350289.d7ed","name":"","topic":"in","qos":"2","datatype":"auto","broker":"5c53d07c.0a099","x":100,"y":160,"wires":[["fc601eb1.644ea","53ccbae9.835704"]]},{"id":"fc601eb1.644ea","type":"json","z":"ae350289.d7ed","name":"","property":"payload","action":"","pretty":false,"x":250,"y":160,"wires":[["e0558175.37fee"]]},{"id":"e0558175.37fee","type":"function","z":"ae350289.d7ed","name":"","func":"topico = \"dpec/\" + msg.payload.id \npayload = msg.payload\nmsg.topic = topico\nmsg.payload = payload\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":160,"wires":[["53ccbae9.835704","8674b215.7d8df"]]},{"id":"53ccbae9.835704","type":"debug","z":"ae350289.d7ed","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":220,"wires":[]},{"id":"8674b215.7d8df","type":"mqtt out","z":"ae350289.d7ed","name":"","topic":"","qos":"","retain":"","broker":"5c53d07c.0a099","x":560,"y":160,"wires":[]},{"id":"a3e49002.7388e","type":"http request","z":"ae350289.d7ed","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","persist":false,"authType":"","x":410,"y":300,"wires":[[]]},{"id":"5c53d07c.0a099","type":"mqtt-broker","z":"","name":"","broker":"app.sambrana.com.ar","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]